SUPABASE_URL=https://bykgghcjpluwrvyewbrg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5a2dnaGNqcGx1d3J2eWV3YnJnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzUzMTQ4MiwiZXhwIjoyMDc5MTA3NDgyfQ.3V_C4p0qWzL6FqB8cZ8YvV9o_1O2JvE_5sY4XvZ9Q1s
